<div class="container">
  <div>
    <img src="/assets/Order Placed Successfully.png" />
  </div>
  <div class="sub-container">
    <p>hurray!!! your order is confirmed</p>
    <p>the order id is #123456 save the order id for</p>
    <p>further communication..</p>
  </div>
  <div>
    <table class="border">
      <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Address</th>
      </tr>
      <tr>
        <td class="border"><p>admin@bookstore.com</p></td>
        <td class="border"><p>+91 9347575838</p></td>
        <td class="border">
          <p>
            42, 14th Main, 15th Cross,<br />
            Sector 4,opp to BDA complex,<br />
            near Kumarakom restaurant,<br />
            HSR Layout, Bangalore 560034
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="shopping-button">
    <button
      mat-raised-button
      color="primary"
      routerLink="/dashboard/getallbooks"
    >
      CONTINUE SHOPPING
    </button>
  </div>
</div>
