mat-toolbar {
  background-color: #a03037;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 350px;
  padding-top: 20px;
}
mat-divider {
  height: 100px;
  width: 1px;
  background-color: #ccc;
}
.logo-text {
  color: aliceblue;
}

.search {
  margin-top: 0%;
  margin-left: 300px;
  height: 40px;
  width: 500px;
  border: black;
  border-radius: 5px;
}

.white-background .mat-input-element {
  background-color: aliceblue;
}
.right-icon {
  color: aliceblue;
  width: 50px;
  height: 40px;
}

