<mat-toolbar>
  <div class="container">
    <div class="logo-container" routerLink="/dashboard/getallbooks">
      <div>
        <button mat-icon-button class="example-icon">
          <mat-icon><img src="/assets/education.svg" alt="" /></mat-icon>
        </button>
      </div>
      <div>
        <h2 class="logo-text">BookStore</h2>
      </div>
    </div>
    <div>
      <input class="search" placeholder="Search" />
    </div>
    <div class="right-container">
      <div>
        <mat-icon class="right-icon"
          >person
        </mat-icon>
      </div>
      <div>
        <mat-icon class="right-icon" routerLink="/dashboard/cart"
          >local_grocery_store
        </mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
