<mat-toolbar>
  <div class="container">
    <div class="logo-container">
      <div>
        <button mat-icon-button class="example-icon">
          <mat-icon><img src="/assets/education.svg" alt="" /></mat-icon>
        </button>
      </div>
      <div>
        <h2 class="logo-text">BookStore</h2>
      </div>
    </div>
    <div>
      <input class="search" placeholder="Search" />
    </div>
    <div class="right-container">
      <div>
        <mat-icon class="right-icon"
          ><img src="/assets/person_FILL0_wght400_GRAD0_opsz48.svg" alt="" />
        </mat-icon>
      </div>
      <div>
        <mat-icon class="right-icon"
          ><img
            src="/assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg"
            alt=""
          />
        </mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
