<div class="sub-header">
  <div>
    <div class="flex-row">
      <h1>Books</h1>
      <p>( {{ bookCount }} items)</p>
    </div>
  </div>

  <div style="padding-right: 75px">
    <select name="" id="">
      <option value="">Sort by relevance</option>
      <option value="">Sort by low to high</option>
    </select>
  </div>
</div>
<div class="book-container">
  <div *ngFor="let book of books">
    <mat-card>
      <div style="padding-top: 50px">
        <img
          src="http://books.google.com/books/publisher/content?id=FRboAwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE721e9hHHSYxAzMYdYLRJGxmJonID57PV2E7v5Mfjd_sw1T4RTm-R0VEWk4iV1Dm3zBx2FZxH9StzNqGsxcdw8Ra6QYt8x0J9lAD5wptSJABBVwjeDXWmiofYsRWgGT2Rqf-WSty&source=gbs_api"
          alt=""
        />
      </div>
      <div>
        <div>
          <p>{{ book.bookName }}</p>
          <p style="color: #999">by {{ book.author }}</p>
        </div>
        <div class="flex-row-right">
          <p style="background-color: #388e3c; width: 30px; color: aliceblue">
            4.5
          </p>
          <p style="background-color: #388e3c; color: aliceblue">*</p>
          <p>(20)</p>
        </div>
        <div class="">
          <h4>
            <b>Rs. {{ book.price }}</b>
          </h4>
          <h4 style="text-decoration: line-through; color: #999">Rs. 1000</h4>
        </div>
      </div>
    </mat-card>
  </div>
</div>
